@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Home Page"];
}


<div class="text-center">
    <h1 class="display-4">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn about building Web apps with ASP.NET Core"]</p>
    <a href="?culture=hi-IN">Hindi</a> |  <a href="?culture=en-US">English</a> | <a href="?culture=or-IN">Odia</a>
</div>
<p>
    @Localizer["String1"]
</p>
